@charset "UTF-8";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
    font-family: 'ubuntu', 'Open Sans', Geneva, Arial, sans-serif;
    font-weight: 400;
}

body {
    background-image: linear-gradient(to bottom right, #9b1ff0, white );
}

#wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-image: linear-gradient(180deg, white, #757bd8);
    border-style: solid;
    border-width: 2px;
    min-height: 95vh;

    }


.headerContainer{
    align-items: center;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

.navBar{
    margin:auto;
    background-color: rgb(43, 43, 43);
    height: 52px;
    
}

.navBar img{
    transform: translateY(6px);
}


.navBar a{
    color: rgb(218, 218, 218);
    background-color: rgb(43, 43, 43);
    border-style: ridge;
    border-color: rgb(192, 192, 192);
    border-width: 2px;
    height: 40px;
    font-size: 40px;
}

.navBar a:hover{
    background-color: lightgray;
    color: black;
    border-color: black;
}


#mainContent{
    text-align: center;
}

#mainContent h1{
    margin-top: 60px;
}



.pageFooter{
    background-color: #FAF500;
    min-height: 5vh;
    width: 960px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: ridge;
    border-width: 2px;
    border-color: black;
}

.pageFooter p{
    color: #6C00FA;
    font-size: 16px;
    text-align: center;
}


/* for Aabout me page*/

#mainPage{
    margin-bottom: 30px;
    margin-top: 48px;
}

#mainPage h1{
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

#mainPage h2{
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

#mainPage p{
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

.exampleImage img{
    text-align: center;
    display: inline-block;
    transform:translateX(50%);
    margin: 30px 30px 10px 10px;
    border-width: 1px;
    border-style: solid;
    width: 300px;
    height: 200px;
    
    

}

#videoButtons{
    transform: translateX(6.5%);
}

#videoButtons button{
    border-style: solid;
    height: 40px;
    width: 100px;
}

#aboutmeVideo {
    margin-top: 0px;
    transform: translate(7.5%, -10%);
    width: 800px;
    height: 600px;
    
}

/* for Aprojects page*/

.project {
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: black;
}

.project h1 {
    font-weight: 400;
    line-height: 60px;
}

.project p{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.project img{
    margin-bottom: 20px;
    width: 300px;
    height: 200px;

}


.pythonCode{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    width: 700px;
    height: 300px;
    overflow: auto;
    font-size: 14px;
    background-color: black;
    color: white;

}


/* for AcontactMe.html */
#contactForm h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 16px;
    font-size: 40px;
}



.formGroup {
    display: flex;
    align-items: center;

    
}

label {
    text-align: left;
    margin-right: 10px;
    width: 140px;
}

input {
    width: 300px;
    text-align: center;
}

.formGroup label, input, textarea{
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

/* adobe complementary color pallet

#FAF500

#6B2FBA

#6C00FA

#A5A337

#583D7A

#504F35

*/

